<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.BattleRoyaleRecord2Mapper">

   <insert id="insert" parameterType="BattleRoyale2Record" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into r_battle_royale2_record
		(
               `user_id`,
               `order_no`,
               `periods_num`,
               `bet_info`,
                `bet_amount`,
               `profit`,
               `lottery_result`,
               `win_or_lose`,
               `status`,
               `create_time`,
               `update_time`
               
               
		)
		values
		(
               #{userId},
               #{orderNo},
               #{periodsNum},
               #{betInfo},
               #{betAmount},
               #{profit},
               #{lotteryResult},
               #{winOrLose},
               #{status},
                #{createTime},
               #{updateTime}
               
             
             
             
		)
	</insert>
	
	
	
	<select id="findOne" resultType="BattleRoyale2Record">
	    select * from r_battle_royale2_record where id = #{id}
	</select>
	
	<select id="findByUserId" resultType="BattleRoyale2Record">
	    select * from r_battle_royale2_record where user_id = #{userId} and status=1 order by id desc
		<if test="start != null and limit != null">
			limit #{start}, #{limit}
		</if>
	</select>

	<select id="findAll" resultType="BattleRoyale2Record">
		select * from r_battle_royale2_record
	</select>
	
	<sql id="conditions">
   	<if test="date != null">
   		 and date=#{date}
   	</if>
   		
   	
   	<if test="userId != null">
   		  and user_id = #{userId}
   	</if>
   	
	</sql>
	
	<select id="countByConditions" resultType="Long">
		select count(1) from r_battle_royale2_record
		<where>
			<include refid="conditions"></include>
		</where>
	</select>
	
	
	<select id="findNoPrize" resultType="BattleRoyale2Record">
		select *  from r_battle_royale2_record where status=1
	</select>
	
	<select id="findPeriodsNum" resultType="BattleRoyale2Record">
		select *  from r_battle_royale2_record where status=1 order by id desc limit 1
	</select>
	
	
	<select id="findByConditions" resultType="BattleRoyale2Record">
	    select * from r_battle_royale2_record
	    <where>
	    	<include refid="conditions"></include>
	    </where>
	    
		ORDER BY create_time desc 
		<if test="start != null and limit != null">
	   	 limit #{start}, #{limit} 
	   	</if>
	</select>
	
	<update id="batchUpdateRecord"  parameterType="java.util.List">  
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update r_battle_royale2_record
        <set>
            profit=#{item.winAmount},lottery_result=#{item.lotteryResult},win_or_lose=#{item.isWin},status=1,bet_info=#{item.betInfo},bet_amount=#{item.betAmount}
        </set>
        where order_no = #{item.orderNo} 
    </foreach>      
	</update>
	
	<update id="addBetAmount"  parameterType="BattleRoyale2Record">  
        update r_battle_royale2_record set bet_amount = bet_amount+#{betAmount} where order_no = #{orderNo}
            
	</update>



	<delete id="deletedThreeDayRecord">
		delete from r_battle_royale2_record where create_time &lt;#{time}
	</delete>
</mapper>