<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.BuyGiftRecordMapper">

   <insert id="insert" parameterType="BuyGiftRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into r_buy_gift_record
		(
               `user_id`,
               `order_no`,
               `gift_id`,
                `price`,
             	`create_time`
		)
		values
		(
               #{userId},
               #{orderNo},
                #{giftId},
               #{price},
               #{createTime}

             
             
		)
	</insert>
	
	<select id="findRecord" resultType="BuyGiftRecord">
        select * from r_buy_gift_record where user_id = #{userId} and create_time >#{time}
    </select>

</mapper>