<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.DailyTaskMapper">

   <insert id="insert" parameterType="DailyTask" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into dic_daily_task
		(
               `context`,
               `condition`,
               `reward`,
               `sort`,
               `type`
               
		)
		values
		(
               #{context},
               #{condition},
               #{reward},
               #{sort}
        	#{type}
		)
	</insert>
	
	<update id="updateAchievement" parameterType="DailyTask">
		update dic_daily_task 
		<set>
		
		<if test="context!=null">
		context = #{context},  
		</if>
		<if test="condition!=null">
		condition = #{condition},  
		</if>
		<if test="reward!=null">
		reward = #{reward},  
		</if>
		<if test="sort!=null">
		sort = #{sort},  
		</if>
		<if test="type!=null">
		type = #{type},  
		</if>
		</set> 
		where  id= #{id}            
	</update>
	
	<delete id="delete">
		delete from dic_daily_task where  id= #{id}               
	</delete>
	
	<select id="findByType" resultType="DailyTask">
	    select * from dic_daily_task where type = #{type} 
	</select>
	
	
	<select id="findAll" resultType="DailyTask">
	    select * from dic_daily_task
	</select>
	
</mapper>