<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.DicJackpotMapper">



    <select id="findAll" resultType="DicJackpot">
        select *
        from dic_jackpot
    </select>

    <update id="update" parameterType="Admin">
        update dic_jackpot set amonut = #{amonut},production = #{production}
    </update>

</mapper>