<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.DicTimeTaskMapper">



    <select id="findAll" resultType="DicTimeTask">
        select *
        from dic_time_task
    </select>


    <select id="findByGroup" resultType="DicTimeTask">
        select *
        from dic_time_task where id =#{group}
    </select>

</mapper>