<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.JDCardMapper">


	
	<select id="findAll" resultType="JDCard">
	    select * from t_jd_card
	</select>


	<select id="findNoExchange" resultType="JDCard">
		select * from t_jd_card where status = 0 limit 1
	</select>

	<select id="findByUserId" resultType="JDCard">
		select * from t_jd_card where user_id=#{userId}
	</select>

	<update id="exchange" parameterType="JDCard">
		update t_jd_card set user_id=#{userId} ,  status=1  where id=#{id}
	</update>

</mapper>