<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.MonsterMapper">

    <insert id="insert" parameterType="Monster" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_monster
        (
            `monster_type`,
            `die_status`,
            `monster_no`,
            `curr_blood`,
            `create_time`,
            `update_time`
        )
        values
            (
                #{monsterType},
                #{dieStatus},
                #{monsterNo},
                #{currBlood},
                #{createTime},
                #{updateTime}
            )
    </insert>

    <update id="update" parameterType="Monster">
        update t_monster
        <set >
            <if test="dieStatus != null">
                die_status= #{dieStatus},
            </if>
            <if test="currBlood != null">
                curr_blood= #{currBlood},
            </if>
            <if test="createTime != null">
                create_time= #{createTime},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime}
            </if>
        </set>
        where  monster_type= #{monsterType}
    </update>

    <update id="updateMonster" parameterType="Monster">
        update t_monster
        <set >
            <if test="dieStatus != null">
                die_status= #{dieStatus},
            </if>
            <if test="currBlood != null">
                curr_blood= #{currBlood},
            </if>
            <if test="monsterNo != null">
                monster_no= #{monsterNo},
            </if>
            <if test="monsterType != null">
                monster_type= #{monsterType},
            </if>

            <if test="createTime != null">
                create_time= #{createTime},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime}
            </if>
        </set>
        where  id= #{id}
    </update>


    <select id="findMonsterByStatus" resultType="Monster">
        select * from t_monster where die_status = #{dieStatus} and monster_type = #{monsterType}
    </select>

    <select id="findNewMonsterByType" resultType="Monster">
        select * from t_monster where  monster_type = #{monsterType} order by id desc limit 1
    </select>
    <select id="findMonsterInitStatus" resultType="Monster">
        select monster_type,MIN(curr_blood) as curr_blood from t_monster where die_status =#{dieStatus} group by monster_type
    </select>

    <update id="batchUpdateRecord" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_monster
            <set>
                die_status=#{item.dieStatus},curr_blood=#{item.currBlood},profit=#{item.profit},bet_amount=#{item.betAmount},create_time=#{item.createTime},update_time=#{item.updateTime}
            </set>
            where monster_type= #{item.monsterType} and user_id = #{item.userId}
        </foreach>
    </update>







</mapper>