<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.MzUserItemMapper">

   <insert id="insert" parameterType="MzUserItem" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_user_mz_item
		(
			user_id,
			mz_item_id,
			last_user_no,
			last_user_name,
			`status`,
			up_time,
			up_end_time,
			create_time
		)
		values
		(
               #{userId},
               #{mzItemId},
			   #{lastUserNo},
			   #{lastUserName},
			   #{status},
			   #{upTime},
			   #{upEndTime},
			   #{createTime}
		)
	</insert>


	<sql id="conditions">
		<if test="userId != null">
			and user_id=#{userId}
		</if>
		<if test="mzItemId != null">
			and mz_item_id=#{mzItemId}
		</if>
		<if test="lastUserNo != null">
			and last_user_no=#{lastUserNo}
		</if>
		<if test="lastUserName != null">
			and last_user_name=#{lastUserName}
		</if>
		<if test="status != null">
			and status=#{status}
		</if>
		<if test="upTime != null">
			and up_time=#{upTime}
		</if>
		<if test="upEndTime != null">
			and up_end_time=#{upEndTime}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
	</sql>

	<select id="countByConditions" resultType="Long">
		select count(1) from t_user_mz_item
		<where>
			<include refid="conditions"></include>
		</where>
	</select>

	<select id="findByConditions" resultType="MzUserItem">
		select * from t_user_mz_item
		<where>
			<include refid="conditions"></include>
		</where>

		ORDER BY create_time desc
		<if test="start != null and limit != null">
			limit #{start}, #{limit}
		</if>
	</select>

	<update id="updateMzUserItem" parameterType="MzUserItem">
		update t_user_mz_item
		<set>
			<if test="userId != null">
				 user_id=#{userId},
			</if>
			<if test="mzItemId != null">
				 mz_item_id=#{mzItemId},
			</if>
			<if test="lastUserNo != null">
				 last_user_no=#{lastUserNo},
			</if>
			<if test="lastUserName != null">
				 last_user_name=#{lastUserName},
			</if>
			<if test="status != null">
				 status=#{status},
			</if>
			<if test="upTime != null">
				 up_time=#{upTime},
			</if>
			<if test="upEndTime != null">
				 up_end_time=#{upEndTime},
			</if>
			<if test="createTime != null">
				 create_time=#{createTime},
			</if>
		</set>
		where id= #{id}
	</update>

	<delete id="delete">
		delete from t_user_mz_item where  id= #{id}
	</delete>
	
</mapper>