<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.NoticeMapper">

	<!--公告新增-->
	<insert id="insert" parameterType="Notice" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_notice (
			`title`,
			`context`,
			`type`,
			`create_time`
		)
		values (
				   #{title},
				   #{context},
				   #{type},
				   #{createTime}
			   )
	</insert>

	<!--公告查询-->
	<select id="findAll" resultType="Notice">
		select * from t_notice order by create_time desc
	</select>

	<!--公告条件查询-->
	<select id="findOne" parameterType="map" resultType="Notice">
		select * from t_notice
		where id = #{id}
	</select>

	<!--公告更新-->
	<update id="update" parameterType="Notice">
		update t_notice
		set
			title = #{title},
			context = #{context},
			type = #{type}
		where id = #{id}
	</update>

	<!--公告删除-->
	<delete id="deleteNoticeById" parameterType="map">
		delete from t_notice
		where id = #{id}
	</delete>

</mapper>