<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.RecordSheetMapper">

<!--	<select id="findAll" resultType="RecordSheet">-->
<!--		select id,amount from r_record_sheet-->
<!--	</select>-->

	<insert id="insert" parameterType="RecordSheet" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into r_record_sheet
		(
			`user_id`,
			`red_id`,
		 	`is_boom`,
			`name`,
			`amount`,
			`create_time`,
			`update_time`,
			`order_no`

		)
		values
			(
				#{userId},
				#{redId},
			 	#{isBoom},
				#{name},
				#{amount},
				#{createTime},
				#{updateTime},
				#{orderNo}

			)
	</insert>

	<select id="findByRedId" resultType="RecordSheet">
		select * from r_record_sheet where red_id=#{redId}
	</select>

</mapper>