<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.RedEnvenlopeMapper">


    <select id="findAll" resultType="RedEnvelope">
        select * from r_red_envelope where status = 1
    </select>

    <insert id="insert" parameterType="RedEnvelope" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into r_red_envelope
        (
            `user_id`,
            `amount`,
            `released_quantity`,
            `red_award`,
            `surplus_amount`,
            `create_time`,
            `update_time`,
            `allocation_amount`,
            `bomb_amount`,
            `total_amount`,
            `total_number`,
            `bomb_index`,
            `now_index`,
            `remark`,
            `status`
        )
        values
            (
                #{userId},
                #{amount},
                #{releasedQuantity},
                #{redAward},
                #{surplusAmount},
                #{createTime},
                #{updateTime},
                #{allocationAmount},
                #{bombAmount},
                #{totalAmount},
                #{totalNumber},
                #{bombIndex},
                #{nowIndex},
                #{remark},
                #{status}

                )
</insert>

    <update id="updateRed" parameterType="RedEnvelope">

        update r_red_envelope
        <set>
            <if test="surplusAmount!=null">
                surplus_amount=#{surplusAmount},
            </if>
            <if test="nowIndex!=null">
                now_index=#{nowIndex},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id = #{id}
    </update>



    <select id="findByUserId" resultType="RedEnvelope">
        SELECT id,remark,create_time,total_amount,`status`,now_index FROM r_red_envelope WHERE user_id = #{userId}
        <if test="start != null and limit != null">
            limit #{start}, #{limit}
        </if>
    </select>




</mapper>