<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.TsgPayOrderMapper">

   <insert id="insert" parameterType="TsgPayOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_tsg_pay_order
		(
               `user_id`,
               `order_no`,
               `product_id`,
		        `remark`,
               `price`,
               `status`,
               `expire_time`,
		        `create_time`
               
               
		)
		values
		(
               #{userId},
               #{orderNo},
               #{productId},
		        #{remark},
               #{price},
               #{status},
               #{expireTime},
		       #{createTime}
		)
	</insert>

    <sql id="conditions">
        <if test="userId != null">
            and user_id=#{userId}
        </if>

        <if test="orderNo != null">
            and order_no=#{orderNo}
        </if>

        <if test="status != null">
            and status=#{status}
        </if>

    </sql>

    <select id="countByConditions" resultType="Long">
        select count(1) from t_tsg_pay_order
        <where>
            <include refid="conditions"></include>
        </where>
    </select>

    <select id="findByConditions" resultType="TsgPayOrder">
        select * from t_tsg_pay_order
        <where>
            <include refid="conditions"></include>
        </where>

        ORDER BY create_time desc
        <if test="start != null and limit != null">
            limit #{start}, #{limit}
        </if>
    </select>

    <update id="updateStatus" parameterType="TsgPayOrder">
        update t_tsg_pay_order set status = #{status} , remark=#{remark} , payer=#{payer} where order_no = #{orderNo}
    </update>

	<select id="findAll" resultType="TsgPayOrder">
	    select * from t_tsg_pay_order
	</select>

    <select id="findByOrderNo" resultType="TsgPayOrder">
        select * from t_tsg_pay_order where  order_no = #{orderNo}
    </select>

    <update id="updateOrderExpire" parameterType="TsgPayOrder">
        update t_tsg_pay_order set status = 3  where expire_time &lt; #{time} and status = 0
    </update>

    <select id="findRec" resultType="TsgPayOrder">
        select * from t_tsg_pay_order where user_id = #{userId}  and status=1
    </select>
    <update id="updateOrder" parameterType="TsgPayOrder">
        update t_tsg_pay_order
        <set>
            <if test="status!=null">
                status = #{status}
            </if>
            <if test="remark!=null">
                remark = #{remark}
            </if>
        </set>
        where id=#{id}
    </update>
	
	

</mapper>