<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.UserIncomeMapper">

    <insert id="insert" parameterType="UserIncome" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user_income
        (`user_id`,
         `receive_income`,
         `unreceive_income`,
         `status`,
         `begin_time`,
         `end_time`,
         `crte_time`,
         `updt_time`,)
        values (#{userId},
                #{receiveIncome},
                #{unreceiveIncome},
                #{status},
                #{beginTime},
                #{endTime},
                #{crteTime},
                #{updtTime}
                )
    </insert>

    <update id="update" parameterType="UserIncome">
        update t_user_income
        <set>
            <if test="receiveIncome!=null">
                receive_income = #{receiveIncome},
            </if>
            <if test="unreceiveIncome!=null">
                unreceive_income = #{unreceiveIncome},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="beginTime!=null">
                begin_time = #{beginTime},
            </if>
            <if test="endTime!=null">
                end_time = #{endTime}
            </if>
            <if test="crteTime!=null">
                crte_time = #{crteTime},
            </if>
            <if test="updtTime!=null">
                updt_time = #{updtTime}
            </if>
        </set>
        where user_id= #{userId}
    </update>


    <update id="batchUpdateUserIncome" parameterType="java.util.List">

        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_user_income
            <set>
                receive_income=#{item.receiveIncome},unreceive_income=#{item.unreceiveIncome},status = #{item.status},begin_time=#{item.beginTime},end_time = #{item.endTime},crte_time = #{item.crteTime},updt_time = #{item.updtTime}
            </set>
            where user_id= #{item.userId}
        </foreach>
    </update>

    <select id="findUserIncome" resultType="UserIncome">
        select *
        from t_user_income
    </select>
    <select id="findUserIncomeByUserId" resultType="UserIncome">
        select *
        from t_user_income where user_id = #{userId}
    </select>
    <select id="findUserIncomeByUserIdAndStatus" resultType="UserIncome">
        select *
        from t_user_income where user_id = #{userId} and status = '1'
    </select>


</mapper>