<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.UserYyScoreMapper">

    <insert id="insertOrUpdate" parameterType="com.zywl.app.base.UserYyScore">
        INSERT INTO t_user_yy_score(`user_id`, `score`,`create_time`)
        VALUES (#{userId}, #{score},NOW()) ON DUPLICATE KEY
        UPDATE score = score+#{score};
    </insert>



    <select id="findByUserId" resultType="com.zywl.app.base.UserYyScore">
        select *
        from t_user_yy_score
        where user_id = #{userId}
    </select>


</mapper>