<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.UserRoleAdMapper">


   <insert id="insert" parameterType="UserRoleAd">
		insert into t_user_role_ad
		(
               id,
		 		ymd,
               user_id,
			   can_look,
			   look,
			   last_time
		)
		values
		(
               #{id},
               #{ymd},
               #{userId},
               #{canLook},
               #{look},
               #{lastTime}
		)
	</insert>

	<update id="update" parameterType="UserRoleAd">
		update t_user_role_ad
		<set >
     		<if test="canLook != null">
				can_look= #{canLook},
     		</if>
     		<if test="look != null">
				look= #{look},
     		</if>

     		<if test="lastTime != null">
				last_time= #{lastTime},
     		</if>
    	</set>
		where  id= #{id}
	</update>




	<select id="findByConditions" resultType="UserRoleAd">
	    select * from t_user_role_ad
	    <where>
	    	<if test="ymd != null">
	    	 and `ymd` = #{ymd}
	    	</if>
     		<if test="userId != null">
     		 and user_id= #{userId}
     		</if>
	    </where>
	</select>


</mapper>