<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.UserRoleMapper">


    <insert id="insert" parameterType="UserRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user_role
        (
            `user_id`,
            `role_id`,
            `index`,
            `hp`,
            `max_hp`,
            `un_receive`,
            `last_look_time`,
            `last_receive_time`,
            `status`,
            `create_time`,
            `end_time`



        )
        values
            (
                #{userId},
                #{roleId},
                #{index},
                #{hp},
                #{maxHp},
                #{unReceive},
                #{lastLookTime},
                #{lastReceiveTime},
                #{status},
                #{createTime},
                #{endTime}


            )
    </insert>

    <select id="findByUserId" resultType="UserRole">
        select * from t_user_role where user_id=#{userId}
    </select>

    <select id="findByIndex" resultType="UserRole">
        select * from t_user_role where user_id=#{userId} and `index`=#{index}
    </select>
    <update id="updateUserRole" parameterType="UserRole">
        update t_user_role
        <set>
        <if test="hp != null">
            hp=#{hp},
        </if>
        <if test="unReceive != null">
            un_receive=#{unReceive},
        </if>
        <if test="index!= null">
            `index`=#{index},
        </if>
        <if test="lastLookTime != null">
            `last_look_time`=#{lastLookTime},
        </if>
        <if test="lastReceiveTime != null">
            `last_receive_time`=#{lastReceiveTime},
        </if>
        <if test="status != null">
            `status`=#{status},
        </if>
            <if test="endTime != null">
                `end_time`=#{endTime},
            </if>
        </set>
            where id=#{id}
    </update>

    <select id="findWorkingRoles" resultType="UserRole">
        select * from t_user_role where user_id=#{userId} and status > 0;
    </select>

    <select id="findNoWorkingRolesByIndex" resultType="UserRole">
        select * from t_user_role t1,dic_role t2 where t1.user_id=#{userId} and t1.`status` = 0 and t1.role_id=t2.id and t2.skill=#{skill} and t2.id!=6;
    </select>

    <select id="findNoWorkingRolesByIndex2" resultType="UserRole">
        select * from t_user_role t1,dic_role t2 where t1.user_id=#{userId} and t1.`status` = 0 and t1.role_id=t2.id and t2.id=6;
    </select>

    <select id="findByUserRoleId" resultType="UserRole">
        select * from t_user_role where id=#{id}
    </select>

    <select id="findByUserIdAndRoleId" resultType="UserRole">
        select * from t_user_role where user_id=#{userId} and role_id=#{roleId}
    </select>
    <update id="batchUpdateUserRole"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_user_role
            <set>
                <if test="item.hp != null">
                    hp=#{item.hp},
                </if>
                <if test="item.unReceive != null">
                    un_receive=#{item.unReceive},
                </if>
                <if test="item.index!= null">
                    `index`=#{item.index},
                </if>
                <if test="item.lastLookTime != null">
                    last_look_time=#{item.lastLookTime},
                </if>
                <if test="item.lastReceiveTime != null">
                    `last_receive_time`=#{item.lastReceiveTime},
                </if>
                <if test="item.status != null">
                    `status`=#{item.status},
                </if>
            </set>
            where id=#{item.id}
        </foreach>
    </update>



    <select id="findFreeRoleNumber" resultType="Long">
        select count(1) from t_user_role
        where role_id=6
    </select>
</mapper>