<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zywl.app.defaultx.mapper.UserProcess">

   <insert id="insert" parameterType="UserProcess" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_user_process
		(
               `user_id`,
               `curr_process_number`,
               `high_num`
		)
		values
		(
               #{userId},
               #{currProcessNumber},
               #{highNum}
		)
	</insert>
	
	<update id="update" parameterType="UserProcess">
		update t_user_process
		<set>
		
		<if test="currProcessNumber!=null">
			curr_process_number = #{currProcessNumber},
		</if>
		<if test="highNum!=null">
			high_num = #{highNum},
		</if>
		</set>
		where  user_id= #{userId}
	</update>

	
	
	<select id="findAll" resultType="UserProcess">
	    select * from t_user_process
	</select>

	<select id="findByUserId" resultType="UserProcess">
		select * from t_user_process where user_id = #{userId}
	</select>

</mapper>