*{margin:0;padding:0;font-family: Sans-serif;-webkit-overflow-scrolling: touch;box-sizing: border-box;}
button,select{text-transform:none}
a{text-decoration: none;color: #333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{background-color:#F0F1F5;position: relative;}
.row{display: flex;flex-wrap: wrap;}
.col-3{flex: 0 0 25%;max-width: 25%;}
.col-4{flex: 0 0 33.333333%;max-width: 33.333333%;}
.amount-top{text-align: center;padding:1.5rem 0;font-size: .875rem;background:linear-gradient(90deg,#FF5B9D,#F96A6A)!important;}
.amount-title{color:#fff;margin-bottom: .5rem;}
.amount-num{color:#fff;font-weight: 700;}
.amount-num span{font-size: 1.8rem;}
.title{color:#666; font-size:.875rem;margin:.5rem 0 .5rem .82rem;}
.amount-list{background-color:#fff; padding: .75rem .5rem 0 .5rem;position: relative;}
.amount-item{display: flex;height: 3.2rem;text-align: center;color: #666;font-size: 1rem;background-color: #F1F3FF;align-items: center;justify-content: center;margin: 0 .3rem .5rem .3rem;flex-direction: column !important;border: 2px solid #F1F3FF;font-weight: 500;}
.amount-item span{display: block;width: 100%;}
.amount-item .money{display: flex; align-items: center;justify-content: center;height:1rem;line-height: 1rem; text-indent: 1rem; background-position: 0 0.02rem; background-repeat: no-repeat; background-size: .875rem; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAEB0lEQVRYhe2Vy2tcVRzHv79z7p13ZphYkExSgyLB0pJFFiVLX0td1wpdBKlgXZRgbZFWLKVqV0EsPhYVaoOL/AWKiGI3ShrrgwFdFIsFg7QOmUzuzNw5r5+Lzh3H6Z1HEgqC/lZzf7/z+Jzv73vOAP/Hfz0oLrmwsDAnhDjhed5hADDG/BKG4T4p5d8TiWCtRbVaBRH9I1+r1TA1NVXO5/P7nXPQWv+slFpaXl6+1LuXFwdgjLkupXzL87zDzAzP8x4rFosvCSE+iMYIIWCMQbPZBDN3ILTWmJ2dXSCi/fV6HZ7nQSl1IQzDK3F7xQI452CtLTPze6lU6uV2+sLa2trHlUqlkUgkAADWWoyPj8PzPDBzJ1coFM7n83lIKWGMuSaEuJLNZuO2igcolUqRnItBEBxRSuUB5GdmZs75vn+CiMDMkFKiWCwCQDfA6SAISq1WC1JKWGuPdys0EsDt27cjJTQRnclms+8aY5DNZl9JJpNLxpj1aKxSqjOPiNJbW1uvOecgpYRS6pNWq/WNEALOudEBarVaBIBUKnUxnU4vCiEettaiUqksVSqV54gIRIRSqYRIEa31WSFENjJoJpM53U/6gQCFQiE6Eay1CMPwWCqV+tQ5h0QicWhiYuKdQqHwbVtiAIC1dq9z7iQzg5mRy+XOZTKZ3wbu3g8g6mckm7X2M2PMF57nPQ0AiUTizXK5/FSz2cT09DSklJBSvi6EgBACWuvKxsbG2c3Nzc5a2wIYGxsDAPi+DylldJVOBUHwXRvsyVardcj3/ZX2VTtQLBaPOucis52pVqsshBgmQDyA1rqjRBiGCIIAxpjrmUzm/Vwud8wYg7m5ufOrq6sr+Xwe6XT6bWMMAMAYc01K+eHk5GTHG/1uAADEIkZ9VEohcnQymYTv+28wswOAZrP5qHPuCWttwTn3DNDxzKlGo4FGowGlFJRS0Fp3DjWSAt0gUkrkcrnoNH86544C+Ehrjfn5+cV6vX7HWhvVL3me91X0MA3r/1AAIjrIzA8658J2KiSiH4io2b7zz0YnbwN/zswHAEwCcLirMAP4EoDZCcBFIjrYk45/UQAmohWKb/g4gI1tA/SJftbu77QBMQzgBQAPAFA9+ZsATgJYbH9/DeB5AA/1gAjcVWxrRwDMXB5QvtGl9u8A1pl5PW7goGs4TIF9zFzEvQr8SkSPdH2XnHN7AEwjRgEi+h6A3TYAEV2OMWFcPC6EuDOg3teEw9/K+xzDPPAigD0AWj2lmwBeJaLj7e+rzHwEwF7Et2BnJgTw44Daja7ffxDRLWa+NWS9e2I3Leie6wOD3X4/AGJjuxC7Aejt9Y4gdgPQbcx6b3FUiJH+C/os9hMzXwagAVwdabd/Y/wFTW/kV309uDEAAAAASUVORK5CYII=);}
.amount-item .gold{color:#D46437;font-size:.875rem; margin-top: .2rem;height:1rem;line-height: 1rem;display: flex; align-items: center;justify-content: center;text-indent: 1rem; background-position: 0 0.025rem; background-repeat: no-repeat; background-size: .875rem; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAHqklEQVRYhYWXy48c1RXGf+feW4/u6e559hhjwySORYJwBMouSIACDgrJf0CWkVAiIqQoGClZZJFVpOxCNsmebNkiEgjPBYkCVsAjYTmYYOwZjz2e6enpV1Xde7K4NdPj8eC0VC2Vqu453/ed755zS3TzHAiAwHACOxPIknivBahAMCAhQ4qnCY0nQL8JHANmAQV6COsgn+L938nNX8FWTKoYJxUwE3TzCmK3QFMwDSDguNtPAGUFeB41PyY07kX06He1/jNyjlL+i/hXEPkjytrdUpi7Jq/kl6isopwD6uR711EINC4MukKlv0ZkFdWfR4WPBn6EAgKqXYK+QjDfR2owqiACrgk2jQF1ugQAX0A1BqnfVZ1D5GUq/QGJeRaxO4eB3AlAWMHrmyinoj71gqwDYtHRBjq8iU56aDWOS1yO5HNIo4s0uxBKKPpTcCH5EX7mA+Tzs4i9ik5BTAGIgMg8ynvAycjag2tA2ib0LuNvrhJ218CPABPXUKtDgKSBbZ7ALj2EzK7AZAtCgGwe3XjrWzr8/H1ZuP8RRLb30+rWSzFQCLA5ep8yPIoVCB7yDmCovnwXf/MCCEjSBpNM671ff4FQoMUuINjut3H3PQ52hrD2Omz/C2wbSVvvyOz9TxAENOBQAWuhN36RcfkoWTJNHjzFpVfR3WtIYwmMAw0HDHWwngomQRqLEEr8jY/QssDNL8Dux5Aughi0GD7OaPsFabT/QKgQvfgzQLoEWUcwoGBzsAnFxVfRwRrSPAbqEQFjBAWCv91MxkoU0isqDlD0+meYzODuP416H1UOHsRWstztYnTboCX4cA5kuiXTFtWVdwm7V29LHrzivSJGsM7sl99awRjBV4GgFlEPvQ0kmyGUGX6rhzi7hxS0cLo9elH7GQaSBGN/Evd4gHSWsH0Zv7mKaSxFIwLGGVTh4oeb/PutNQa9CWnDkmSWYuxZff86q//YohgVuD3zGYekDt/ro+MCsTUIMVCOnjPBGYOas8BCDQ/E4DcvRFPJdJP4MpDPJsx0ErY3xmx8MQARTG648eWAG2tjGg2hlexSTSqwsQxROiX0d8HUphUHWnbV975nsHJ2v426Bgw3CIN1JG1HRQ54LBSBE6c7zB/L2VwbMe6X6CRw88shrfmckycUCR4Ve5s/xDnCaIKWFbIHQitUwlMG5czUSSl+dBPKUXT8bVGgHAfShYzj3+hQjCo214dsfDFgNAjce9Ixs2woSznYZ+q4gvqAFiUYsx8P7x92qB7fn4aiMOnVfryzd4tAuVPQWsiYW8q5eWWIMUJ7LqHRUsZ9kDDtT7f9FLTy7PcOTREGXQe0D74Ue/n+AJiSMIJYYfW9dQY7JVkrJXGCM8q1QeDSByXOCE8+mtGaEYriEAFR8OFAxABqO+5IqkcRUAUP3ZUWcyWktmJ7fcL6TmCpazh5wqJecRa8/38hBfBAJg5ksI9BgKTBUSM3+lTJZ1IaAmbiubhbsTsRVppC3owtZW9w3slAwJpDutJzqL+G2DPR8QJpJ+7hwyUQwSSWyx9v0rsxZOgcrmXotOD8hZLhSHGJ8MMncrKGUEzuLEFsRjU5DWCb1x1GzxPk6ahKgW10qZIGhCp2rZq/isMXFacfEIrTTYYFXLpUMRrBdx5OyZuClpAkUBaH2AdFrEPSpCZXy5Qk5w1G3thnX42g2cW0jqNFP+4GVTAO9RW6c4tWS1m8x3HfcgRXeaU7b1g+bjm2bDAGQjhUvqpCmhmSJOjeM+MgyN8MRt5EuBXVDqAeu/hQlCmU4GrU/U0IgbKyMFKGI2VcKJNCGY0Uhkox1P2D0zS7ghFse2ZaWj8Bl6+RLL9jqFyF8Oc4CwwUO5jZr2GXHiJMtmKA/mY9deopRxSn3RJm24K1tfGO2P9alNjZNpKlcSIChBJpHPsTnQUV/fSnIMyjdgNwqEbWSYvi0uuEqx9ismZMfsDeQrSIAD4c7XydFJiZJu74ElpVsdJ+grhsLN1HlhH6BpOCzbfA/CLqp+A92BbJwiImFbQMUb4DDPfGh3IouUTT6aRAZhq4Y4sxntd6Y43BLLxAv+yztYPof56vHwQo9Q0ke5JsHr3xNrr7CZIv4G/18L1dQONINV9xmg8htlsj2Nk2dqGDeoWqimvGfWidfM3Mn3kmbpWA6GfP1cgVTN6mzM+HW/88xc5HkCyAdYiz6GiC7w/Q8QSt4gHl4KlcFcRZJM+wnRkkz6LsPpqQagJiLpnlxx5m9p4h5QAAt69rAJK0r4ONx+hfeA+Tfx2xkVURkCzB5QtoUaJFEZnu7WljYvIsRZKkXlNO0ZUTxGQXmes+jvFDyiH4ag/AQdcoBH9NFh/4LuPBX3S48STGgUnrSebBGsxMc+oD9igoGhQtywMlKeOJKp99DTf/LOq3CAcmIkd9mmkAzHVprzwljRMvIWmfUMbDpGpd5yrKW1/xfk8RBa3iVrP5puT3vqAznWfUyBZa3ZHuCDdJRB0KSDq/l859D0rW/p0YewWpm5OPBkL99ApVTKyCSHJZ8qXfMnfqQVzzZaqyJnZno7j713EowcpVSH4li53fMLFnGW49hnNnKHZPqjGLxDm3icmuAJ+Q2bep8jdwSYAQiXz1JzD/AxCw5HiBHHqEAAAAAElFTkSuQmCC);}
.amount-list .active{animation: first 0.5s;background-color:#fff;border:2px solid #FF5B9D;color:#4167C0; border-radius: .3rem;}
.amount-item .ios span{margin-top: -0.2rem;}
.amount-item .android span{margin-top: -0.25rem;}
.amount-rate{color:#999;padding:.2rem 0 .5rem .8rem;background-color:#fff;font-size:.875rem;}
.amount-rate span{color:#ff5b9d;}
.channel-list{background-color:#fff;}
.channel-item{border-bottom:1px solid #E9E9E9;padding: .5rem .75rem;display:flex;align-items: center;justify-content: space-between;}
.channel-item .left{display: flex;align-items: center;justify-content: flex-start;}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.5rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn:not(:disabled):not(.disabled){cursor:pointer}
.btn-div{margin: 1rem 1rem;text-align:center;}
.btn-pay{color:#fff;border-color:#f996be;width:100%;background:linear-gradient(90deg,#FF5B9D,#F96A6A)!important;letter-spacing: 5px;}
.btn-pay:hover{color:#fff;background-color:#f73b86;border-color:#f996be}
/*.btn-pay.focus,.btn-pay:focus{box-shadow:0 0 0 .2rem rgba(247,59,134,.5)}*/
.btn-pay.disabled,.btn-pay:disabled{color:#fff;background-color:#f996be;border-color:#f996be}
.tips{text-align:center;margin: .5rem; font-size:14px;color:#999;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.checkbox-div {display:flex;align-items:center;width:auto;}
.checkbox-div .checkbox-input {display:none}
.checkbox-div .checkbox {-webkit-transition:background-color 0.3s;transition:background-color 0.3s;background-color:#fff;border:1px solid #d7d7d7;border-radius:50%;width:20px;height:20px;vertical-align:middle;overflow: hidden;position: relative;}
.checkbox-div .checkbox-input:checked+.checkbox {background-color:#FF5B9D;border:1px solid #FF5B9D;}
.checkbox-div .checkbox-input:checked+.checkbox:after {content:"";display:inline-block;height:100%;width:100%;color:#fff;text-align:center;box-shadow:0 0 4px #FF5B9D;font-size: 1.125rem;position: absolute; top:1px;right:0; background-repeat:no-repeat; background-size:150%;background-position: center; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAByElEQVR4nO2YMU70MBCFJ8kkToHoKGkoqCk4ABWnQKLmChyEGolTUHEACiqKv/olCioaCqQ4Gds0IKGw63gTxxvgfdUmmYznvTjjdYgAAAAAAAAAAAAAAAB/iSxGEhGJkWYQrfW9UuqYenUz8+ic+dSiUtE0zd2HeCIiFyvvjzCgaZqbuq5PeqejmLB4A7TWV3Vdn625PNmERRugtb5USl0MxDxOGWOxTVBrfa6Uuh6I+a+UOvh1TTBEfNu2z0qpg6ljLW4GtG17WlXV7UDMS1VVe5/HU2bAXAa4Mbm7rjsqy/LBF9MXT7Q8A7525uD8InLIzP98MV3XvZVludM/v6Qe0F+WgpYpEdkfEi8i7SrxU4lpwDqxXhOMMbvM/OSLERFhZjW6Mg+xDBh60iuvW2u5KIpX343GGMvM5ejKBohlQMi7/s2EPM873w3GGFsURTG6qgBivgKbmuCdNdZaN7d4ovhNMNQEr3jnHOV5nuRP2hyDTFpanXOUZVmU5TmEuVweJSC1eKJ59wIbC0ktnmj+zdAmgpKLJ0qzGwwRthXxROm2wz6BWxNPlPZ7wCqhWxVPlP6DSLbmNwAAAAAAAAAAAAAAACThHTskiKhGx6Z0AAAAAElFTkSuQmCC);}
.pay-icon{width: 2rem;height: 2rem;background-repeat:no-repeat;background-position:center;background-size:100%;}
.item-body{margin-left: .5rem;}
.item-title{font-weight: 400;font-size: 1rem;}
.item-content{color: #999;font-size: .875rem;}
.bottom-div{height:2rem;width:100%;}
/*modal*/
.modal-title{font-size: 1rem;margin: 0 0 .5rem 0;color: #333;}
.modal-body{margin: .8rem 0; font-size: 1rem; line-height: 1.5;color: #333;}
.modal-footer{margin: .5rem 0;display: flex;justify-content: space-around;}
.btn2{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.5rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn2:not(:disabled):not(.disabled){cursor:pointer;}
.btn-primary{background:linear-gradient(90deg,#FF5B9D,#F96A6A)!important;letter-spacing: 1px;color:#fff;}
.btn-default{background-color:#ddd; letter-spacing: 1px;}
.loader-block{position: fixed; top: 0; left: 0; right: 0;bottom: 0;background: #fff;z-index: 9999;display: flex;align-items: center;}
#loader2 {width: 80px;height: 130px;display: block;-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;top: calc(50% - 50px);left: calc(50% - 50px);-webkit-animation: spin 1s linear infinite;animation: spin 1s linear infinite;margin: 0 auto;}
#circle-loader2 {fill: none;stroke: #FF5B9D;stroke-width: 4;-webkit-animation: draw 3s ease-in-out infinite;animation: draw 3s ease-in-out infinite;}
@-webkit-keyframes draw {0% {stroke-dasharray: 20, 282.6;}50% {stroke-dasharray: 200, 282.6;}100% {stroke-dasharray: 20, 282.6;}}
@keyframes draw {0% {stroke-dasharray: 20, 282.6;}50% {stroke-dasharray: 200, 282.6;}100% {stroke-dasharray: 20, 282.6;}}
@-webkit-keyframes spin {to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes spin {to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes first {
    0% {
        background-color:#F1F3FF;
        border-color: #F1F3FF;
    }
    100% {
        background-color:#FFF;
        border-color: #FF5B9D;
    }
}
.d-none{display:none;}
.modal a.close-modal{display: none;}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-group {margin-bottom: .3rem;}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled,.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}