.toast-top-center, .toast-top-full-width{top:76px;}
.main-menu .main-menu-header{height:123px;}
.logo-img{height:50px;}
.col-min-7-5{min-width:7.5rem;min-height:38px;}
.col-min-7-5 .input-group-text{width:100%;justify-content:flex-end!important;font-weight:normal;margin-bottom:0;}
.base-table tbody tr td{vertical-align:middle;}
.btn-search{padding-top: 7px !important;padding-bottom: 7px !important;}
.td-img{max-height:30px;}
.datepicker .day{color:#333;}
.w-s{flex:1;overflow:hidden;}
.select2-container .select2-selection--multiple{min-height:38px;display:flex!important;align-items:center!important;}
.select2-container--classic .select2-selection--single{height:38px;display:flex!important;align-items:center!important;background:none;}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered{width:100%;}
.select2-container--classic .select2-selection--multiple .select2-selection__choice{margin-top:0;}
.select2-container--classic .select2-selection--single .select2-selection__rendered{width:100%;}
.select2-container--classic .select2-selection--single .select2-selection__choice{margin-top:0;}
.select2-container--classic .select2-selection--single .select2-selection__arrow{height:36px;background:none; background-color:#f1f1f1;}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{background:none;}
.select2-container .select2-search--inline .select2-search__field{margin-top:0;}
.modal-dialog .select2-container .select2-selection--multiple{height:44px;}
.modal-dialog .select2-container--classic .select2-selection--single{height:44px;}
.modal-dialog .select2-container--classic .select2-selection--single .select2-selection__arrow{height:42px;}
.md-tabs .nav-item .header-tab-title{padding:10px 0 !important;}
.text-gray{color:#b1b1b1 !important}
.text-nowrap{white-space:nowrap;}
.chat-selected{background-color:rgba(68, 138, 255, 0.1);}
.short-message{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width:220px;}
.td-look{padding: 3px 10px 3px 7px;border-radius: 19px;line-height:19px;color:#f6f6f6;display: inline-block;font-size:12px;}
.td-look i{height:18px;width:18px;display:inline-block;background-repeat:no-repeat;background-size:100% 100%;background-position:center center; margin-right:6px;float:left;}
.send-chat .img-40{height:40px;}
.text-c-black{color:#000;}
.btn-warning {color: #212529;background-color: #ffc107;border-color: #ffc107;}
.btn-warning:focus,.btn-warning:hover{color: #212529;}
.bg-alipay{background: url(${staticfile}/files/assets/images/pay-ali.png) no-repeat left center;padding-left: 32px;background-size: contain;display: inline-block;height: 24px;line-height: 24px;}
.bg-bankpay{background: url(${staticfile}/files/assets/images/pay-bank.png?1) no-repeat left center;padding-left: 46px;background-size: contain;display: inline-block;height: 24px;line-height: 24px;}
.bg-wxpay{background: url(${staticfile}/files/assets/images/pay-wx.png) no-repeat left center;padding-left: 32px;background-size: contain;display: inline-block;height: 24px;line-height: 24px;}
.bg-ysfpay{background: url(${staticfile}/files/assets/images/ysf-pay.png) no-repeat left center;padding-left: 32px;background-size: contain;display: inline-block;height: 24px;line-height: 24px;}
.form-loading{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .3);}
.td-online{background-color: #00CC00;height: .875rem;width: .875rem;border-radius: 50%;margin: 0 auto;}
.offline{background-color: #d6d6d6;}
.cropper-container{margin: 0 auto;max-width:100%;}
.img-container {max-width: 100%;}
.img-container img {width: 100%;}
.scroll-table-div .dataTables_scrollBody thead{visibility: collapse;}
.scroll-table-div ul.pagination{margin-top:8px !important;}
.scroll-table-div .dataTables_info{margin-top:6px;}
@media only screen and (max-width: 992px){
    .logo-img{height:40px;}
    .short-message{max-width:200px;}
}
@media only screen and (max-width: 340px){
    .logo-img{height:40px;}
    .short-message{max-width:130px;}
}