<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">

	<Properties>
		<!-- 日志文件存放路径 -->
		<Property name="LOG_HOME">/data/logs/manager8001</Property>
		<!-- 应用名称 -->
		<Property name="SERVER_NAME">manager</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-5p] [%d{HH:mm:ss}] %c - %m%n"/>
		</Console>

		<RollingFile name="RollingFile"
					 fileName="${LOG_HOME}/${SERVER_NAME}_log"
					 filePattern="${LOG_HOME}/${SERVER_NAME}/%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%-5p] [%d{HH:mm:ss:SSS}] %c - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>

		<!--		&lt;!&ndash; 开启 MyBatis 全部日志输出 &ndash;&gt;-->
		<!--		<Logger name="org.apache.ibatis" level="DEBUG" additivity="false">-->
		<!--			<AppenderRef ref="console"/>-->
		<!--			<AppenderRef ref="RollingFile"/>-->
		<!--		</Logger>-->

		<!--		&lt;!&ndash; 打印执行的 SQL 语句 &ndash;&gt;-->
		<!--		<Logger name="org.apache.ibatis.executor" level="DEBUG" additivity="false">-->
		<!--			<AppenderRef ref="console"/>-->
		<!--			<AppenderRef ref="RollingFile"/>-->
		<!--		</Logger>-->

		<!--		&lt;!&ndash; 打印参数绑定和结果映射信息 &ndash;&gt;-->
		<!--		<Logger name="org.apache.ibatis.mapping" level="DEBUG" additivity="false">-->
		<!--			<AppenderRef ref="console"/>-->
		<!--			<AppenderRef ref="RollingFile"/>-->
		<!--		</Logger>-->

		<!-- 屏蔽 任何日志 -->
		<Logger name="org.apache.ibatis.logging.slf4j" level="OFF" additivity="false"/>
		<Logger name="org.apache.ibatis"                   level="OFF" additivity="false"/>
		<Logger name="org.apache.ibatis.executor"          level="OFF" additivity="false"/>
		<Logger name="org.apache.ibatis.mapping"           level="OFF" additivity="false"/>

		<!-- 已有的应用级别日志 -->
		<Logger name="org.springframework" level="INFO"/>
		<Logger name="org.apache.http" level="INFO"/>
		<Logger name="net.rubyeye.xmemcached" level="INFO"/>
		<Logger name="freemarker.cache" level="INFO"/>
		<Logger name="com.google.code.yanf4j" level="INFO"/>
		<Logger name="com.fxbtg.api.client" level="ERROR"/>
		<Logger name="druid.sql.Connection" level="ERROR"/>
		<Logger name="com.alibaba.druid.pool.PreparedStatementPool" level="ERROR"/>
		<Logger name="com.alibaba.druid.pool.DruidDataSource" level="ERROR"/>
		<Logger name="org.apache.kafka" level="ERROR"/>

		<!-- 根日志（ -->
		<Root level="DEBUG">
			<AppenderRef ref="console"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>

</Configuration>
